# Server Port & Environment
PORT=5000
NODE_ENV=development

# Prisma Database URL (PostgreSQL / Supabase / Neon / Local Postgres)
DATABASE_URL="postgresql://postgres:password@localhost:5432/technodiaz2k26?schema=public"

# JWT Secret for Authentication
JWT_SECRET="technodiaz_nature_meets_innovation_super_secret_jwt_key_2026!"
